@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'mindflow-dark';
  default: true;
  prefersdark: false;
  color-scheme: light;
  /* Base Colors */
  --color-base-100: oklch(9% 0.02 240);
  --color-base-200: oklch(7% 0.03 240);
  --color-base-300: oklch(5% 0.04 240);
  --color-base-content: oklch(85% 0.05 240);
  
  /* Primary Color */
  --color-primary: oklch(65% 0.18 264);
  --color-primary-content: oklch(98% 0.01 264);
  
  /* Secondary Color */
  --color-secondary: oklch(80% 0.15 85);
  --color-secondary-content: oklch(20% 0.05 85);
  
  /* Accent Color */
  --color-accent: oklch(68% 0.19 5);
  --color-accent-content: oklch(98% 0.01 5);
  
  /* Neutral Color */
  --color-neutral: oklch(23% 0.03 240);
  --color-neutral-content: oklch(98% 0.01 240);
  
  /* Info Color */
  --color-info: oklch(70% 0.15 245);
  --color-info-content: oklch(98% 0.01 245);
  
  /* Success Color */
  --color-success: oklch(75% 0.18 145);
  --color-success-content: oklch(98% 0.01 145);
  
  /* Warning Color */
  --color-warning: oklch(84% 0.16 95);
  --color-warning-content: oklch(20% 0.05 95);
  
  /* Error Color */
  --color-error: oklch(68% 0.19 20);
  --color-error-content: oklch(98% 0.01 20);

  
}


/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
